#container {
  display: flex;
  flex-direction: column;
  width: 900px;
  align-items: flex-end;
  gap: 1rem;
  margin-top: 3rem;
  margin-left: 5rem;
}
table {
  border: 1px solid black;
  width: 100%;
}
table tr td {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
td,
th {
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}
td:nth-child(2) {
  width: 70% !important;
}
#page-no-dropdown {
  width: fit-content;
  border: 1px solid black;
  padding: 2px;
}
select:focus-visible {
  outline: none;
  border: none;
}
button {
  border: 1px solid black;
  padding: 2px;
}