#container {
  display: flex;
  flex-direction: column;
  width: 900px;
  align-items: flex-end;
  gap: 1rem;
  margin-top: 3rem;
  margin-left: 5rem;
}
table {
  width: 100%;
}
table tr td {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

th {
  background-color: #d4d4d4;
  text-align: center;
}

tr{
  background-color: gray;
  text-align: center;
  font-size: 16px;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #ffffff;
}

tr:hover {
  background-color: #e6f7ff;
}


#page-no-dropdown {
  width: fit-content;
  border: 1px solid black;
  padding: 2px;
}
select:focus-visible {
  outline: none;
  border: none;
}
button {
  border: 1px solid black;
  padding: 2px;
}

.input-text {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px;
}

.single {
  width: 50%;
  float: left;
}